In [ ]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [1]:
import pandas as pd
import numpy as np

**Importing the dataset**

In [2]:
data=pd.read_csv("Social_Network_Ads.csv")

In [3]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
data=data.drop("User ID",axis=1)

In [5]:
data.Gender=data.Gender.map({"Male":1,"Female":0})

In [6]:
data=data.drop_duplicates()

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 380 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           380 non-null    int64
 1   Age              380 non-null    int64
 2   EstimatedSalary  380 non-null    int64
 3   Purchased        380 non-null    int64
dtypes: int64(4)
memory usage: 14.8 KB

In [8]:
data.columns

Index(['Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

**Splitting the dataset into the Training set and Test set**

In [9]:
x=data[['Gender', 'Age', 'EstimatedSalary']].values
y=data['Purchased'].values
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

**Feature Scaling**

In [10]:
from sklearn.preprocessing import StandardScaler
scaller=StandardScaler()
scaller.fit(x_train)
x_train=scaller.transform(x_train)
x_test=scaller.transform(x_test)

**Fitting K-NN to the Training set**

In [13]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
knn.fit(x_train,y_train)

KNeighborsClassifier()

**Predicting the Test set results**

In [14]:
knn.predict(x_test)

array([0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1])

**Making the Confusion Matrix**

In [15]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [17]:
confusion=confusion_matrix(y_test,knn.predict(x_test))
print(confusion)

[[44  4]
 [ 5 23]]

In [21]:
acc=accuracy_score(y_test,knn.predict(x_test))
acc

0.881578947368421